body {
    background-color: rgba(0, 0, 0, 0.8);
    color: #ccc;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.general-select{
    margin-left: 10px;
    width: 200px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    appearance: none;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
}
    
#starting-class {
    width: 221px;
}
    
.statSelection {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    margin-top: 20px;
}
    
.statSelection label {
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
    color: #ccc;
}
    
.statSelection select {
    font-size: 16px;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 60px;
    text-align: center;
    color: #333;
    background-color: rgba(255, 255, 255, 0.8);
}
    
.statSelection div {
    margin: 10px;
}

.table-body {
    border-collapse: collapse;
    background-color: #333;
    color: #fff;
}

.table-body td, .table-body th {
    border: 1px solid #777;
    padding: 3px;
}


.table-body tr:nth-child(even) {
    background-color: #444;
}

.table-body tr:hover {
    background-color: #555;
}

.table-body th {
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: left;
    background-color: #222;
    color: #fff;
}

.titleRow {
    font-weight: bold;
    font-style:oblique;
    color: #fff;
}
.generalCheckbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
}


#level, #requirements {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: large;
}

.weaponSelection {
    margin-top: 3px;
}